
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e8f5f7;
    padding: 10px 20px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0c49f5;
}

.menu a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.logo{
    height: 100px;
    width: 100px;
}

.h1_nome{
    flex-grow: 1;
    text-align: center;
    margin: 0;
}


main{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-areas:
    'art1  art1  sec1'
    'sec2  art2  art2'
    'footer  footer  footer'
    ;
}

.art1{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-areas:
    'tit1 sob1 sob1'
    'sob1 sob1 sob1'
    ;
}

.art2{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-areas:
    'tit2 sob2 sob2'
    'sob2 sob2 sob2'
    ;
}

.img1{
    height: 200px;
    width: 200px;
}

.img2{
    height: 200px;
    width: 200px;
}

.sec1{grid-area: sec1;}
.sec2{grid-area: sec2;}
.art1{grid-area: art1;}
.art2{grid-area: art2;}
.footer{grid-area: footer;}


section, article, footer{
    padding: 15px;
    display: flex;
    border: 2px solid #0c49f5;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #e8f5f7;
}

@media screen and (max-width: 691px){
    main{
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        grid-template-areas:
        'sec1'
        'art1'
        'sec2'
        'art2'
        'footer'
        ;
    }

    .img1{
        height: 200px;
        width: 200px;
    }
    
    .img2{
        height: 200px;
        width: 200px;
    }

    section, article, footer{
        padding: 15px;
        display: flex;
        border: 2px solid #0c49f5;
        /* justify-content: center;
        align-items: center; */
        font-size: 1.5rem;
        background-color: #e8f5f7;
    }
    
}


